:root {
    --transparent: transparent;
    --purple: #9c27b0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;

    /* BEGIN (write your solution here) */

    /* END */
}
